extends layout

block content
  h1= title
  p Welcome to #{title}
  
  button(id=date_id onclick='getServerOutput("date")') date
  button(id=netstat_id onclick='getServerOutput("netstat")') netstat
  br
 
  textArea(id="textArea",  rows="12", cols="66")
  br
       
  input(id="textbox_cmdline_id", type='text', name='textbox_cmdline', placeholder='enter here')
  button(id="textboxEnter") Enter
  br